#app {
    margin: 56px 0 56px 0;
}

.bg-rb {
    background-color: var(--mainColor);
    color: #f8f9fa;
}

.text-rb {
    color: var(--mainColor);
}

.border-rb {
    border-color: var(--mainColor);
}

.btn-rb {
    background-color: var(--mainColor);
    color: #f8f9fa;
}

.btn-rb:hover {
    /* background-color: #123b64; */
    filter: contrast(60%)
    color: #f8f9fa;
}

.btn-rb.active {
    /* background-color: #123b64; */
    filter: contrast(60%)
    color: #f8f9fa;
}

.btn-outline-rb {
    color: var(--mainColor);
    border-color: var(--mainColor);
}

.btn-outline-rb:hover {
    color: #f8f9fa;
    background-color: var(--mainColor);
    border-color: var(--mainColor);
}

.hidden-nunmber {
    -webkit-text-security: disc;
}